<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>account</title>
    <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body>
    <div class="accountWrapper">
        <div class="accountWrwpper__leftGrid">
            <h1 class="accountWrapper__leftGrid_title">Customer Login</h1>
            <span class="accountWrapper__leftGrid_subtitle">Registered Customers</span> <br> <br>
            <hr> <br>
            <p class="accountWrapper__leftGrid_text">If you have an account, sign in with your email address.</p>
            <form action="" class="accountWrapper__form">

                <label for="email">E-mail</label> <br>
                <input type="text" placeholder="Enter your E-mail here"> <br>

                <label for="password">password</label> <br>
                <input type="password"> <br>
                <button class="signKnap">Sign in</button>
            </form>
        </div>
        <!--./accountWrwpper__leftGrid-->

        <div class="accountWrwpper__rightGrid">

            <spsan class="accountWrwpper__rightGrid_subtitle">New Customers</spsan> <br> <br>
            <hr>
            <p class="accountWrwpper__rightGrid_text">Creating an account has many benefits: check out faster, keep more
                than one address, track orders and more.</p>
            <button class="accountWrwpper__rightGrid_knap">Creat an Account</button>
        </div>
    </div>
    <!--./accountWrapper-->

</body>

</html>