<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hifi-Corner</title>
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">

</head>

<body>
    <section class="iconBar iconBar_sort">
        <ul class="iconBar__list">
            <li class="iconBar__list__item">
                <i class="fas fa-map-marker-alt"></i>
            </li>
            <li class="iconBar__list__item">
                <i class="fas fa-phone-alt"></i>
            </li>
            <li class="iconBar__list__item">
                <i class="fas fa-envelope"></i>
            </li>
        </ul>
    </section>


    <nav class="top-nav">
        <ul class="top-nav__nav-list">
            <li class="nav-list__item"><a href="index.html" class="nav-list__link">Home</a></li>
            <li class="nav-list__item"><a href="#" class="nav-list__link">About us</a></li>
            <li class="nav-list__item"><a href="brands.html" class="nav-list__link nav-list__link_active">Brands</a></li>
            <li class="nav-list__item"><a href="#" class="nav-list__link">Blog</a></li>
            <li class="nav-list__item"><a href="#" class="nav-list__link">Events</a></li>
            <li class="nav-list__item"><a href="oversigt.html" class="nav-list__link">Shop</a></li>
            <li class="nav-list__item"><a href="#" class="nav-list__link">Contact us</a></li>
        </ul>
    </nav>

    <div id="brandsWrapper">
        <!-- <img src="./assets/images/Produktbilleder/background/brandsBackground.jpg" alt="hi fi" class="brandsWrapper__bacckground"> -->
        <div class="top">
            <h1 class="top__title">TOP BRANDS</h1>
            <img class="top__logo" src="./assets/images/Produktbilleder/background/logo-white.png" alt="logo">
        </div>

        <main>

            <div class="leftSec">
                <p class="leftSec__p1">Here are just a few of the brands we stock:

                </p>
                <img class="leftSec__img" src="./assets/images/Produktbilleder/background/brands.png" alt="BRANDS">
            </div>
            <!--./leftSec-->


            <div class="rightSec">
                <h1 class="rightSec__title">BRANDS</h1>
                <p class="rightSec__brandText">
                    As an independent retailer of home audio and visual products, we are able to select the very best
                    brands and manufacturers from across the world. <br> <br>
                    Not only do we have the best known brands such as B&W, Devialet, KEF, Naim, and Linn; we also stock
                    and are well versified with smaller autonomous companies like Michell Engineering, Neat Acoustics,
                    Harbeth, SME, Trichord Research, PrimaLuna, to name but a few. <br> <br>
                    With over a hundred brands, we can happily say that if a brand meets our high standards for sound
                    reproduction, then you can be assured to find it at Hi-Fi Corner.
                </p> <br>
                <p class="rightSec__visitLink"> <a href="#"> VISIT OUR SHOP TO FIND MORE BRANDS</a></p>


            </div>
            <!--./rightSec-->


        </main>
    </div>
    <!--#/brandsWrapper-->
    <footer class="bottom">
        <section class="bottom__address">
            <p class="bottom__adresse__text">Hi-Fi Corner</p>
            <p class="bottom__adresse__text">Edinburgh 2 Joppa Road EH15 2EU</p>
            <p class="bottom__adresse__text">Falkirk 44 Cow Wynd FK1 1PU</p>
        </section>
        <section class="bottom__links">
            <a class="bottom__link" href="#">Return & Refunds</a>
            <span class="bottom__link">|</span>
            <a class="bottom__link" target="blank" href="https://minecookies.org/privatlivspolitik/">Privacy Policy</a>
        </section>
        <section class="bottom__icons">
            <i class="bottom__icons__payment fab fa-cc-discover"></i>
            <i class="bottom__icons__payment fab fa-cc-visa"></i>
            <i class="bottom__icons__payment fab fa-cc-mastercard"></i>
            <i class="bottom__icons__payment fab fa-cc-diners-club"></i>
            <i class="bottom__icons__payment fab fa-cc-jcb"></i>
            <i class="bottom__icons__payment fab fa-cc-paypal"></i>
        </section>
        <section class="bottom__icons_right">
            <i class="bottom__icons__social fab fa-facebook"></i>
            <i class="bottom__icons__social fab fa-youtube"></i>
            <i class="bottom__icons__social fab fa-twitter"></i>
            <i class="bottom__icons__social fab fa-instagram-square"></i>
        </section>
    </footer>
</body>

</html>