<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BrandsListe</title>
    <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body>
    <section class="brandsliste">
        <p class="brandsliste__title">MANUFACTURER</p>
        <p class="brandsliste__brand">ARCAM</p>
        <p class="brandsliste__brand">ASTEL AND KERN</p>
        <p class="brandsliste__brand">ATC</p>
        <p class="brandsliste__brand">AUDIOLAB</p>
        <p class="brandsliste__brand">AVID</p>
        <p class="brandsliste__brand">CHORD ELECTRONICS</p>
        <p class="brandsliste__brand">CLASSÉ</p>
        <section class="brandsliste__brand_noshow">
            <p class="brandsliste__brand">EVO</p>
            <p class="brandsliste__brand">CREEK</p>
            <p class="brandsliste__brand">DESTINY</p>
        </section>
        <a class="brandsliste__viewall" href="#">View All</a>
    </section>
    <script src="./assets/js/brandsliste.js"></script>
</body>

</html>