<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>filter</title>
    <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body>
    <div class="filterWrapper">
        <aside class="filterWrapper__firstSidebar">
            <h3 class="filterWrapper__title">Amplifiers</h3>
            <ul class="firstWrapper__ul">
                <li class="firstWrapper__ul--li"><a href="#">Integrated Amplifiers</a></li>
                <li class="firstWrapper__ul--li"><a href="#">Power Amplifiers</a></li>
                <li class="firstWrapper__ul--li"><a href="#">Preamplifiers</a></li>
                <li class="firstWrapper__ul--li"><a href="#">Speakers</a></li>
                <li class="firstWrapper__ul--li"><a href="#">Turntables</a></li>
                <li class="firstWrapper__ul--li"><a href="#">CD Players</a></li>
                <li class="firstWrapper__ul--li"><a href="#">Streamers</a></li>
                <li class="firstWrapper__ul--li"><a href="#">Cables</a></li>
                <li class="firstWrapper__ul--li"><a href="#">Furniture</a></li>
                <li class="firstWrapper__ul--li"><a href="#">Headphones</a></li>
                <li class="firstWrapper__ul--li"><a href="#">Home Cinema</a></li>
                <li class="firstWrapper__ul--li"><a href="#">Celling Speakers</a></li>
                <li class="firstWrapper__ul--li"><a href="#">TV</a></li>
                <li class="firstWrapper__ul--li"><a href="#">Vinyl</a></li>
                <li class="firstWrapper__ul--li"><a href="#">Outlet - Save ££££</a></li>
            </ul>

        </aside>
        <!--./firstSidebar-->

        <aside class="filterWrapper__secondSidebar">
            <h2 class="secondSidebar__title">SHOP BY</h2>
            <h4 class="secondSidebar__filter"><a href="#">Filter</a></h4>
            <h4 class="secondSidebar__Price"><a href="#">PRICE</a></h4>

            <ul class="secondSidebar__price_ul">
                <li class="secondSidebar__price--li">£o.oo - £799.99(10)</li>
                <li class="secondSidebar__price--li">£800.00-£999.99(11)</li>
                <li class="secondSidebar__price--li">£1000.00-£1499.99(13)</li>
                <li class="secondSidebar__price--li">£1500.00-£1999.99(13)</li>
                <li class="secondSidebar__price--li">£2000.00-£2999.99(20)</li>
                <li class="secondSidebar__price--li">£3000.00-£3499.99(11)</li>
                <li class="secondSidebar__price--li">£3500.00-£4999.99(17)</li>
                <li class="secondSidebar__price--li">£5000.00-£7999.99(16)</li>
                <li class="secondSidebar__price--li">£8000.00-££11999.99(9)</li>
                <li class="secondSidebar__price--li">£12000.00- and above(13)</li>
            </ul>

            <h4 class="secondSidebar__manufacturer">MANUFACTURER</h4>
            <ul class="secondSidebar__manufacturer_ul">
                <li class="secondSidebar__manufacturer--li"> <a href="#">Arcam(S)</a></li>
                <li class="secondSidebar__manufacturer--li"> <a href="#">Astell and Kern(1)</a></li>
                <li class="secondSidebar__manufacturer--li"> <a href="#">ATC(7)</a></li>
                <li class="secondSidebar__manufacturer--li"> <a href="#">Audiolab(4)</a></li>
                <li class="secondSidebar__manufacturer--li"> <a href="#">AVID(3)</a></li>
                <li class="secondSidebar__manufacturer--li"> <a href="#">Chord Electronics(17)</a></li>
                <li class="secondSidebar__manufacturer--li"> <a href="#">Classe(2)</a></li>
                <li class="secondSidebar__manufacturer--li"> <a href="#">Denon(3)</a></li>
                <li class="secondSidebar__manufacturer--li"> <a href="#">Devialet(6)</a></li>
                <li class="secondSidebar__manufacturer--li"> <a href="#">EAT(2)</a></li>
                <li class="secondSidebar__manufacturer--li"> <a href="#">Graham Slee(2)</a></li>
                <li class="secondSidebar__manufacturer--li"> <a href="#">Linn(4)</a></li>
                <li class="secondSidebar__manufacturer--li"> <a href="#">Marantz(5)</a></li>
                <li class="secondSidebar__manufacturer--li"> <a href="#">Meridian(9)</a></li>
                <li class="secondSidebar__manufacturer--li"> <a href="#">Naim(13)</a></li>
                <li class="secondSidebar__manufacturer--li"> <a href="#">Primaluna(10)</a></li>
                <li class="secondSidebar__manufacturer--li"> <a href="#">Primare(4)</a></li>
                <li class="secondSidebar__manufacturer--li"> <a href="#">Quad(9)</a></li>
                <li class="secondSidebar__manufacturer--li"> <a href="#">Rotel(8)</a></li>
                <li class="secondSidebar__manufacturer--li"> <a href="#">Sennheiser(1)</a></li>
                <li class="secondSidebar__manufacturer--li"> <a href="#">Sugden(11)</a></li>
                <li class="secondSidebar__manufacturer--li"> <a href="#">Technics(1)</a></li>
                <li class="secondSidebar__manufacturer--li"> <a href="#">Trinnov(1)</a></li>
                <li class="secondSidebar__manufacturer--li"> <a href="#">Yamaha(5)</a></li>
            </ul>

        </aside>
        <!--./secondSidebar-->
    </div>

    <script src="/assets/js/filter.js"></script>
</body>

</html>