<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hifi-Corner</title>
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <script src="https://kit.fontawesome.com/44a3ab3cd2.js" crossorigin="anonymous"></script>

</head>

<body class="baggrundsbillede">
    <section class="iconBar">
        <ul class="iconBar__list">
            <li class="iconBar__list__item basketIcon">
                <i class="fa fa-cart-plus" id="basketIcon"></i>
                <div class="basketDropdown">
                    <h2 class="basketDropdown__title"> Shopping cart </h2>
                    <ul class="basketItems">
                        <li class="basketItems__item1">
                            <img class="basketItems__img"
                                src="./assets/images/Produktbilleder/cd_afspillere/creek_classic_cd.jpg"
                                alt="cd player">
                            <h5>creek_classic_cd</h5>
                            <span>379£</span>
                        </li>
                        <li class="basketItems__item2">
                            <img class="basketItems__img"
                                src="./assets/images/Produktbilleder/dvdafspillere/creek_classic.jpg" alt="DVD player">
                            <h5>creek_classic</h5>
                            <span>419£</span>
                        </li>
                        <li><button class="basketItems__button">proceed>></button></li>
                    </ul>
                </div>
            </li>
            <li class="iconBar__list__item">
                <i class="fas fa-map-marker-alt"></i>
            </li>
            <li class="iconBar__list__item">
                <i class="fas fa-phone-alt"></i>
            </li>
            <li class="iconBar__list__item">
                <i class="fas fa-envelope"></i>
            </li>
        </ul>
        <button class="iconBar__btn">
            <i class="fas fa-envelope"></i>
            <a href="#">Subscribe</a>
        </button>
    </section>

    <section class="subscribe subscribe_hidden subscribe_visuallyHidden">
        <section class="subscribe__form">
            <div class="subscribe__form_topBar"></div>
            <i class="fas fa-times-circle"
                style="font-size: 2em;color: #1da8f3;position: absolute;top: -30px;right: -30px;cursor: pointer;"></i>
            <form>
                <h2 class="subscribe__form__header">Kontakt</h2>
                <div class="subscribe__form__area">
                    <div class="subscribe__form__area__headline">
                        <label>Fornavn</label>
                    </div>
                    <div class="subscribe__form__area__text">
                        <input type="text" placeholder="Dit fornavn..">
                    </div>
                </div>
                <div class="subscribe__form__area">
                    <div class="subscribe__form__area__headline">
                        <label>Efternavn</label>
                    </div>
                    <div class="subscribe__form__area__text">
                        <input type="text" placeholder="Dit efternavn..">
                    </div>
                </div>
                <div class="subscribe__form__area">
                    <div class="subscribe__form__area__headline">
                        <label>Besked</label>
                    </div>
                    <div class="subscribe__form__area__text">
                        <textarea placeholder="Din besked.." style="height:200px;width:600px"></textarea>
                    </div>
                </div>
                <button class="subscribe__submit"><i class="fas fa-paper-plane"></i> Submit</button>
            </form>
            <div class="subscribe__form_botBar"></div>
        </section>
    </section>

    <nav class="top-nav">
        <ul class="top-nav__nav-list">
            <li class="nav-list__item"><a href="index.html" class="nav-list__link nav-list__link_active">Home</a></li>
            <li class="nav-list__item"><a href="#" class="nav-list__link">About us</a></li>
            <li class="nav-list__item"><a href="brands.html" class="nav-list__link">Brands</a></li>
            <li class="nav-list__item"><a href="#" class="nav-list__link">Blog</a></li>
            <li class="nav-list__item"><a href="#" class="nav-list__link">Events</a></li>
            <li class="nav-list__item"><a href="oversigt.html" class="nav-list__link">Shop</a></li>
            <li class="nav-list__item"><a href="#" class="nav-list__link">Contact us</a></li>
        </ul>
    </nav>

    <section class="hero">
        <div class="hero__logo">
            <span class="logo__text">H I</span>
            <span class="logo__text">F I</span>
        </div>
        <span class="hero__logo__underline">HIFICORNER.CO.UK</span>
    </section>

    <section class="banner">
        <p class="banner__text">OUR EDINBURGH SHOWROOM HAS NOW MOVED TO STUNNING NEW PREMISES ON JOPPA ROAD</p>
    </section>

    <!-- START PRODUCT_SLIDER -->
    <section class="product-slider">
        <div class="product-slider__product">
            <img src="assets\images\Produktbilleder\forforstaerkere/Project_prebox.jpg" alt="Project_prebox"
                class="product-slider__img img">
        </div>
        <h3 class="product-slider__name">
            Project
            <br>
            Prebox
        </h3>
        <i class="product-slider__arrow-left fas fa-angle-left"></i>
        <i class="product-slider__arrow-right fas fa-angle-right"></i>
    </section>
    <!-- END -->

    <!-- FRONTPAGE-MEDIA-BOKS START-->
    <section class="frontpage-media-boks">
        <ul class="frontpage-media-boks__SoMe-boks SoMe-boks">
            <li class="SoMe-boks__item SoMe-boks__item_facebook">
                <a href="https://www.facebook.com/HiFiCorner/" target="_blank" class="SoMe-boks__link">
                    <i class="SoMe-boks__icon SoMe-boks__icon_facebook fab fa-facebook-f"></i>
                </a>
                </i>
            </li>
            <li class="SoMe-boks__item SoMe-boks__item_blogger">
                <a href="https://www.hificorner.co.uk/blog" target="_blank" class="SoMe-boks__link">
                    <i class="SoMe-boks__icon SoMe-boks__icon_blogger fab fa-blogger-b"></i>
                </a>
            </li>
            <li class="SoMe-boks__item SoMe-boks__item_twitter">
                <a href="https://twitter.com/hifi_corner" target="_blank" class="SoMe-boks__link">
                    <i class="SoMe-boks__icon SoMe-boks__icon_twitter fab fa-twitter"></i>
                </a>
            </li>
        </ul>
        <article class="frontpage-media-boks__shortcuts shortcuts">
            <a href="" class="shortcuts__container">
                <button class="shortcuts__subject">History</button>
                <p class="shortcuts__text">
                    Established in the late 1960s, our family owned business is based in Edinburgh and Falkirk,
                    servicing customer across the UK.
                </p>
            </a>
            <a href="" class="shortcuts__container">
                <button class="shortcuts__subject">News</button>
                <p class="shortcuts__text">
                    Check out our latest news stories for all the up to date HI-FI Corner products and launches.
                </p>
            </a>
            <a href="" class="shortcuts__container">
                <button class="shortcuts__subject">Shop</button>
                <p class="shortcuts__text">
                    Have a look in our online shop for great products and deals.
                </p>
            </a>
        </article>
    </section>
    <!-- END -->

    <footer class="bottom">
        <section class="bottom__address">
            <p class="bottom__adresse__text">Hi-Fi Corner</p>
            <p class="bottom__adresse__text">Edinburgh 2 Joppa Road EH15 2EU</p>
            <p class="bottom__adresse__text">Falkirk 44 Cow Wynd FK1 1PU</p>
        </section>
        <section class="bottom__links">
            <a class="bottom__link" href="#">Return & Refunds</a>
            <span class="bottom__link">|</span>
            <a class="bottom__link" target="blank" href="https://minecookies.org/privatlivspolitik/">Privacy Policy</a>
        </section>
        <section class="bottom__icons">
            <i class="bottom__icons__payment fab fa-cc-discover"></i>
            <i class="bottom__icons__payment fab fa-cc-visa"></i>
            <i class="bottom__icons__payment fab fa-cc-mastercard"></i>
            <i class="bottom__icons__payment fab fa-cc-diners-club"></i>
            <i class="bottom__icons__payment fab fa-cc-jcb"></i>
            <i class="bottom__icons__payment fab fa-cc-paypal"></i>
        </section>
        <section class="bottom__icons_right">
            <i class="bottom__icons__social fab fa-facebook"></i>
            <i class="bottom__icons__social fab fa-youtube"></i>
            <i class="bottom__icons__social fab fa-twitter"></i>
            <i class="bottom__icons__social fab fa-instagram-square"></i>
        </section>
    </footer>
    <script src="assets/js/product-slider.js"></script>
    <script src="./assets/js/subscribe.js"></script>
</body>

</html>