<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hifi-Corner</title>
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <script src="https://kit.fontawesome.com/44a3ab3cd2.js" crossorigin="anonymous"></script>
</head>

<body class="blackBackground">
    <section class="iconBar iconBar_sort">
        <ul class="iconBar__list">
            <li class="iconBar__list__item">
                <i class="fas fa-map-marker-alt"></i>
            </li>
            <li class="iconBar__list__item">
                <i class="fas fa-phone-alt"></i>
            </li>
            <li class="iconBar__list__item">
                <i class="fas fa-envelope"></i>
            </li>
        </ul>
    </section>

    <article class="top-nav">
        <ul class="top-nav__nav-list">
            <li class="nav-list__item"><a href="index.html" class="nav-list__link">Home</a></li>
            <li class="nav-list__item"><a href="#" class="nav-list__link">About us</a></li>
            <li class="nav-list__item"><a href="brands.html" class="nav-list__link">Brands</a></li>
            <li class="nav-list__item"><a href="#" class="nav-list__link">Blog</a></li>
            <li class="nav-list__item"><a href="#" class="nav-list__link">Events</a></li>
            <li class="nav-list__item"><a href="oversigt.html" class="nav-list__link nav-list__link_active">Shop</a></li>
            <li class="nav-list__item"><a href="#" class="nav-list__link">Contact us</a></li>
        </ul>
    </article>

        <!-- FRONTPAGE-MEDIA-BOKS START-->
        <div class="katagoriWrapper">
            <div class="katagoriWrapper__grd grd1">
                <img class="katagoriWrapper__img" src="./assets/images/katagori/12.jpg" alt="Shop by Brands">
                <span class="katagoriWrapper__span"><a href="" class="katagoriWrapper__link"> SHOP BY BRANDS</a></span>
            </div>
    
            <div class="katagoriWrapper__grd grd2">
                <img class="katagoriWrapper__img" src="./assets/images/katagori/5.jpg" alt="Shop by Brands">
                <span class="katagoriWrapper__span"><a href="" class="katagoriWrapper__link"> amplifiers</a></span>
            </div>
    
            <div class="katagoriWrapper__grd grd3">
                <img class="katagoriWrapper__img" src="./assets/images/katagori/7.jpg" alt="Shop by Brands">
                <span class="katagoriWrapper__span"><a href="" class="katagoriWrapper__link"> speakers</a></span>
            </div>
    
            <div class="katagoriWrapper__grd grd4">
                <img class="katagoriWrapper__img" src="./assets/images/katagori/17.jpg" alt="Shop by Brands">
                <span class="katagoriWrapper__span"><a href="" class="katagoriWrapper__link"> turntables</a></span>
            </div>
    
            <div class="katagoriWrapper__grd grd5">
                <img class="katagoriWrapper__img" src="./assets/images/katagori/3.jpg" alt="Shop by Brands">
                <span class="katagoriWrapper__span"><a href="" class="katagoriWrapper__link"> cd players</a></span>
            </div>
    
            <div class="katagoriWrapper__grd grd6">
                <img class="katagoriWrapper__img" src="./assets/images/katagori/19.jpg" alt="Shop by Brands">
                <span class="katagoriWrapper__span"><a href="" class="katagoriWrapper__link"> streamers</a></span>
            </div>
    
            <div class="katagoriWrapper__grd grd7">
                <img class="katagoriWrapper__img" src="./assets/images/katagori/18.jpg" alt="Shop by Brands">
                <span class="katagoriWrapper__span"><a href="" class="katagoriWrapper__link"> cables</a></span>
            </div>
    
            <div class="katagoriWrapper__grd grd8">
                <img class="katagoriWrapper__img" src="./assets/images/katagori/1.jpg" alt="Shop by Brands">
                <span class="katagoriWrapper__span"><a href="" class="katagoriWrapper__link"> furniture</a></span>
            </div>
    
            <div class="katagoriWrapper__grd grd9">
                <img class="katagoriWrapper__img" src="./assets/images/katagori/9.jpg" alt="Shop by Brands">
                <span class="katagoriWrapper__span"><a href="" class="katagoriWrapper__link"> headphones</a></span>
            </div>
    
            <div class="katagoriWrapper__grd grd10">
                <img class="katagoriWrapper__img" src="./assets/images/katagori/14.jpg" alt="Shop by Brands">
                <span class="katagoriWrapper__span"><a href="" class="katagoriWrapper__link"> home cinema</a></span>
            </div>
    
            <div class="katagoriWrapper__grd grd11">
                <img class="katagoriWrapper__img" src="./assets/images/katagori/2.jpg" alt="Shop by Brands">
                <span class="katagoriWrapper__span"><a href="" class="katagoriWrapper__link"> outlet-save up to 50%
                        off</a></span>
            </div>
    
            <div class="katagoriWrapper__grd grd12">
                <img class="katagoriWrapper__img" src="./assets/images/katagori/ebay.jpg" alt="Shop by Brands">
                <span class="katagoriWrapper__span"><a href="" class="katagoriWrapper__link"> epay Shop</a></span>
            </div>
    
            <div class="katagoriWrapper__grd grd13">
                <img class="katagoriWrapper__img" src="./assets/images/katagori/8.jpg" alt="Shop by Brands">
                <span class="katagoriWrapper__span"><a href="" class="katagoriWrapper__link"> celling speakers</a></span>
            </div>
    
            <div class="katagoriWrapper__grd grd14">
                <img class="katagoriWrapper__img" src="./assets/images/katagori/11.jpg" alt="Shop by Brands">
                <span class="katagoriWrapper__span"><a href="" class="katagoriWrapper__link"> tv5</a></span>
            </div>
    
            <div class="katagoriWrapper__grd grd15">
                <img class="katagoriWrapper__img" src="./assets/images/katagori/1.jpg" alt="Shop by Brands">
                <span class="katagoriWrapper__span"><a href="" class="katagoriWrapper__link"> viny!!ps</a></span>
            </div>
    
            <div class="katagoriWrapper__grd grd16">
                <img class="katagoriWrapper__img" src="./assets/images/katagori/after2.png" alt="Shop by Brands">
                <span class="katagoriWrapper__span"><a href="" class="katagoriWrapper__link"> SHOP now</a></span>
            </div>
        </div>
        <!--./katagori-->
    
    
        <footer class="bottom">
            <section class="bottom__address">
                <p class="bottom__adresse__text">Hi-Fi Corner</p>
                <p class="bottom__adresse__text">Edinburgh 2 Joppa Road EH15 2EU</p>
                <p class="bottom__adresse__text">Falkirk 44 Cow Wynd FK1 1PU</p>
            </section>
            <section class="bottom__links">
                <a class="bottom__link" href="#">Return & Refunds</a>
                <span class="bottom__link">|</span>
                <a class="bottom__link" target="blank" href="https://minecookies.org/privatlivspolitik/">Privacy Policy</a>
            </section>
            <section class="bottom__icons">
                <i class="bottom__icons__payment fab fa-cc-discover"></i>
                <i class="bottom__icons__payment fab fa-cc-visa"></i>
                <i class="bottom__icons__payment fab fa-cc-mastercard"></i>
                <i class="bottom__icons__payment fab fa-cc-diners-club"></i>
                <i class="bottom__icons__payment fab fa-cc-jcb"></i>
                <i class="bottom__icons__payment fab fa-cc-paypal"></i>
            </section>
            <section class="bottom__icons_right">
                <i class="bottom__icons__social fab fa-facebook"></i>
                <i class="bottom__icons__social fab fa-youtube"></i>
                <i class="bottom__icons__social fab fa-twitter"></i>
                <i class="bottom__icons__social fab fa-instagram-square"></i>
            </section>
        </footer>
        <script src="./assets/js/subscribe.js"></script>
    </body>
    
    </html>