* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    box-sizing: border-box;
    background-color: rgb(8, 8, 8);
    font-family: costum font;
    font-size: 20px;
}
.img {
    display: block;
    width: 100%;
    height: auto;
}
@font-face {
    font-family: "costum font";
    src: url("../fonts/museo-sans-rounded-webfont/MuseoSansRounded500.woff");
}
