.brandsliste{
    margin-left: 1em;
}

.brandsliste__title{
    color: var(--focus-text-color);
    font-weight: 800;
    font-size: 0.7em;
}

.brandsliste__brand{
    padding: 0.4em 0;
    padding-left: 0.6em;
    font-size: 0.7em;

}

.brandsliste__brand_noshow{
    display: none;
}
.brandliste__brand_show{
    display: block;
}

.brandsliste__viewall{
    color: var(--focus-text-color);
    font-weight: 800;
    font-size: 0.7em;
    text-decoration: none;
}   