.iconBar__search {
    margin-right: 0.8em;
}

.iconBar__search__bar {
    width: 30em;
    height: 3em;
    outline: none;
    font-family: costum font;
}

.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0.5em;
    row-gap: 0.5em;
    padding: 0.5em 0;
    text-align: center;
    width: 100vh;
    margin: auto;
}


