.shop-path{
    display: flex;
    justify-content: flex-start;
    font-size: var(--small-font-size);
}
.shop-path__previous{
    text-decoration: none;
    color: var(--focus-text-color);
}
.shop-path__divider{
    margin: 0 0.5vw;
    color: var(--secondary-text-color);
}
.shop-path__current{
    text-decoration: none;
    color: var(--secondary-text-color);
}