.iconBar {
    width: 100%;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 0 10px 0 0;
}

.iconBar_sort{
    background: black;
}

.iconBar__list {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.iconBar__list__item {
    padding: 6px 10px;
    color: white;
}
.iconBar__list__item :hover{
    cursor: pointer; 
}
.basketIcon:hover > .basketDropdown {
    display: block;
}
.basketDropdown {
    width: cover;
    /* height: 150px; */
    position: absolute;
    top: 30px;
    right: 100px;
    background-color: rgb(208, 247, 252);
    color: black;
    display: none;
    border-radius: 10px;
}
.basketDropdown__title {
    margin: 1rem auto;
    color: rgb(71, 67, 67);
}
.basketItems {
    list-style-type: none;
    display: flex;
    color: rgb(233, 155, 99);
    text-align: center;
}
.basketItems__img {
    width: 14rem;
    height: 6rem;
    padding: .3rem;
    border-radius: 20px;
}
.basketItems__button {
    /* padding-right: .5rem; */
    margin: 7.3rem .3rem 0 0;
    color: chocolate;
    font-weight: bold;
    padding: .2rem 1rem;
}
.basketItems__button:hover {
    color: red;
    font-size: .9rem;
}



/* tilføjet grundet searchbar opgaven */
.iconBar__list__item_text{
    display: flex;
}

.list__item__link{
    padding-left: .5em;
    text-decoration: none;
    color: white;
}
/*læs overstående*/

.iconBar__btn {
    padding: 3px;
    background: #1da8f3;
    border-radius: 5px;
    border: none;
}

.iconBar__btn i {
    color: white;
}

.iconBar__btn a {
    text-decoration: none;
    color: white;
}

.subscribe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.876);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: all 620ms;
}

.subscribe_hidden {
    display: none;
}

.subscribe_visuallyHidden {
    opacity: 0;
}

.subscribe__form {
    background: rgb(10, 10, 10);
    border-radius: 10px 10px 10px 10px;
    position: relative;
}

.subscribe__form form {
    padding: 25px;
}

.subscribe__form_topBar {
    height: 15px;
    background: #a39161;
    border-radius: 10px 10px 0 0;
}

.subscribe__form_botBar {
    background: #a39161;
    height: 15px;
    border-radius: 0 0 10px 10px;
}

.subscribe__form__header {
    color: white;
    text-align: center;
}

.subscribe__form__area {
    margin: 15px 0;
}

.subscribe__form__area__headline {
    margin-bottom: 10px
}

.subscribe__form__area__headline label {
    color: white;
}

.subscribe__form__area__text input {
    border: 1px solid #a39161;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    padding: 10px;
    background: black;
    outline: none;
    color: white;
}

.subscribe__form__area__text input::placeholder {
    color: #888;
}

.subscribe__form__area__text textarea {
    border: 1px solid #a39161;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    padding: 10px;
    background: black;
    outline: none;
    color: white;
}

.subscribe__form__area__text textarea::placeholder {
    color: #888;
}

.subscribe__submit {
    padding: 5px;
    border: none;
    border-radius: 5px;
    background: #1da8f3;
    color: white;
}