.bottom{
    background-color: var(--focus-text-color);
    height: 5em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom__adresse__text {
    font-size: 0.6em;
    padding-left: 2.8em;
}

.bottom__links{
    display: flex;
    margin-right: auto;
    margin-left: 2em;
}

.bottom__link{
    color: white;
    font-size: 0.6em;
    padding-left: 1em;
}

.bottom__icons{
    display: flex;
    padding-left: 32em;
}

.bottom__icons_right{
    padding: 0 2em;
}

.bottom__icons__payment {
    color: white;
    font-size: 1em;
    padding: 0.2em;
}

.bottom__icons__social {
    color: white;
    font-size: 1em;
    padding: 0 0.1em;
}