.card {
    width: 200px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card__image {
    outline: 1px solid #a39161;
    width: 190px;
    height: 190px;
    background-color: white;
    background-image: url(/hifi-corner-codeboys-1/assets/images/Produktbilleder/cd_afspillere/creek_classic_cd.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.card__title {
    margin: 10px 0;
    max-width: 190px;
    height: auto;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.card__price {
    margin: 0 0 10px 0;
    color: #a39161;
}

.card__addtocart {
    margin-bottom: 10px;
    padding: 7px;
    color: white;
    background: #a39161;
    width: 100px;
}