body {
    background-color: var(--primary-text-color);
}
.filterWrapper {
    width: 320px;
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
}
.filterWrapper__firstSidebar, .filterWrapper__secondSidebar {
    background-color: var(--filter-background-color);
    margin: 5px 0px;
    padding: 10px;  
}
.filterWrapper__title {
    color: rgb(112, 111, 111);
    margin: 10px;
}
.firstWrapper__ul {
    margin: 5px;
}
.firstWrapper__ul--li {
    list-style-type: none;
    padding: 5px;
}
.firstWrapper__ul--li a {
    text-decoration: none;
    color: var(--focus-text-color);
    font-weight: 600;
}

.secondSidebar__title {
    color: var(--focus-text-color);
    margin: 10px;
}
.secondSidebar__filter, .secondSidebar__Price {
    margin: 10px;
}
.secondSidebar__filter a, .secondSidebar__Price a{
    text-decoration: none;
    color: var(--secondary-text-color);
}
.secondSidebar__price_ul {
    margin: 10px;
}
.secondSidebar__price--li {
    list-style-type: none;
    color: var(--focus-text-color);
    padding: 2px 0;
}
.secondSidebar__manufacturer {
    margin: 10px;
    color: var(--secondary-text-color);
}

.secondSidebar__manufacturer--li {
    list-style-type: none;
    padding: 3px 0;
}
.secondSidebar__manufacturer--li a {
    text-decoration: none;
    color: var(--focus-text-color);
    margin: 10px;
}

