.sort__label{
    text-transform: uppercase;
    margin-right: 0.2rem;
}
.sort__select{
    width: 4rem;
    font-size: var(--pro-small-font-size);
}
.sort__arrow{
    color: var(--filter-focus-color);
}